body{
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f4ff;
}
.container{
    width: 80%;
    margin: 20px auto;
    /* height: 20000px; */
}
/* Header section */

header {
    background-color: rgba(198, 238, 213, 0.5);
position: sticky;
top: 0px;
z-index: 1000;
display: flex;
flex-direction: column;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(180, 246, 205, 0.5);
padding-top: 20px;
}
.Blog{
    margin: 10px 100px;
}
.balance{
    margin: 10px 100px;
}


.btn{
    border: 0px;
padding: 12px 32px 12px 32px;
border-radius: 8px;
background: rgb(180, 244, 97);
transition: background 0.3s, transform 0.3s;
}

.btn:hover{
    cursor: pointer;
    background: rgb(180, 244, 97);
    transform: scale(1.05);
}

.DB{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 20px;
}
.DB a{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.balance{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 20px;
}
header .DH {
    text-align: center;
    padding-top: 15px;

}
header .DH .btn{
padding: 16px 72px;
}
header .DH .btn-2{
padding: 16px 72px;
border: 1px solid black;
border-radius: 8px;
margin: 20px 0px 20px 20px;
transition: background 0.3s, transform 0.3s;
cursor: pointer;
}
header .DH .btn-2:hover{
background: grey;
cursor: pointer;
transform: scale(1.05);
}

/* Donation-Cards Sections */

.donation_cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card_inner{
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
gap: 32px;
}
.card{
    /* flex: 1 1 calc(30 - 20px); */
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
}
.card_1_initial_Balance{
    display: flex;
flex-direction: row;
align-items: center;
gap: 20px;
}
.card h3{
    text-align: left;
    margin-top: 10px;
    color: #333;
}
.card p{
    text-align: left;
    
}
.donation_amount input{
    width: calc(100% - 18px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.card_inner_2{
    text-align: center;

}
.donation_btn{
    /* display: inline-block; */
    padding: 16px 72px;
    background-color: rgb(180, 244, 97);
    color: black;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.donation_btn:hover{
    transition: background 0.3s, transform 0.3s;
    transform: scale(1.05);
}


